HPC (ALICE) modules required:
fastqc/0.12.1-hkgpcde
python/3.10.12-tggsi7t
TrimGalore-0.6.10
hisat2 (check module version number)
hisat2/2.2.1-eovlo7b
samtools/1.17-wenuvv5
R/4.3.1

RStudio packages required:
Seurat_5.0.3 
ggplot2_3.5.1 
patchwork_1.2.0
dplyr_1.1.2
ggrepel_0.9.5
data.table_1.15.4 
clusterProfiler_4.8.3
enrichplot_1.20.3
EnsDb.Hsapiens.v79_2.99.0
org.Hs.eg.db_3.17.0 
AnnotationDbi_1.62.2 
pheatmap_1.0.12
