Re-Analysis:
HPC (Alice) Modules used:
sratoolkit/3.0.0-5fetwpi
star/2.7.10b-m3zkpic
samtools/1.17-wenuvv5
python/3.10.12-tggsi7t
R/4.3.1

softwares downloaded:
FastQ Screen v0.15.3


R Packages used:
Rsubread version 2.14.2
data.table version 1.14.8
griph 0.1.1
AnnotationDbi version 1.62.2
org.Hs.eg.db version 3.17.0
scater version 1.28.0

files to download:
https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/analysisSet/hg38.analysisSet.fa.gz
https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/genes/hg38.refGene.gtf.gz
https://ftp.ensembl.org/pub/release-96/gtf/homo_sapiens/Homo_sapiens.GRCh38.96.gtf.gz
https://genome-idx.s3.amazonaws.com/bt/GRCh38_noalt_as.zip
https://bowtie-bio.sourceforge.net/index.shtml



Novel Analysis:

HPC (ALICE) modules required:
sratoolkit/3.0.0-5fetwpi
fastqc/0.12.1-hkgpcde
python/3.10.12-tggsi7t
TrimGalore-0.6.10
hisat2/2.2.1-eovlo7b
samtools/1.17-wenuvv5
R/4.3.1

RStudio packages required:
Seurat_5.0.3 
ggplot2_3.5.1 
patchwork_1.2.0
dplyr_1.1.2
ggrepel_0.9.5
data.table_1.15.4 
clusterProfiler_4.8.3
enrichplot_1.20.3
EnsDb.Hsapiens.v79_2.99.0
org.Hs.eg.db_3.17.0 
AnnotationDbi_1.62.2 
pheatmap_1.0.12

Graphical User Interface:

plotly_4.10.4  
tidyr_1.3.0    
thematic_0.1.5 
bslib_0.7.0    
dplyr_1.1.2    
ggplot2_3.5.1  
Rtsne_0.17    
shiny_1.8.1.1
